{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Google Recaptcha plugin for Craft CMS 3.x
 *
 * Google Recaptcha Settings.twig
 *
 * @author    Simplon.Prod
 * @copyright Copyright (c) 2021 Simplon.Prod
 * @link      https://www.simplonprod.co
 * @package   GoogleRecaptcha
 * @since     1.0.0
 */
#}

{# {% do view.registerAssetBundle('craft\\web\\assets\\cp\\CpAsset') %} #}

{% import "_includes/forms" as forms %}

{% if configPath %}
    <div class="readable">
        <blockquote class="note warning">
            <p>
                {{ 'It looks like these settings are being overridden by {paths}.'|t('app', {
                    paths: configPath
                }) }}
            </p>
        </blockquote>
    </div>
    <hr>
{% endif %}

{{ forms.autosuggestField({
    first: true,
    label: "Site Key"|t('google-recaptcha'),
    instructions: "Enter the reCAPTCHA site key here."|t('google-recaptcha'),
    id: 'siteKey',
    name: 'siteKey',
    required: true,
    suggestEnvVars: true,
    value: settings.siteKey,
    errors: settings.getErrors('siteKey')
}) }}

{{ forms.autosuggestField({
    label: "Secret Key"|t('google-recaptcha'),
    instructions: "Enter the reCAPTCHA secret key here."|t('google-recaptcha'),
    id: 'secretKey',
    name: 'secretKey',
    required: true,
    suggestEnvVars: true,
    value: settings.secretKey,
    errors: settings.getErrors('secretKey')
}) }}

{{ forms.selectField({
    label: "API Version"|t('google-recaptcha'),
    instructions: "Select the reCAPTCHA version."|t('google-recaptcha'),
    id: 'version',
    name: 'version',
    value: settings.version,
    options: settings.getVersionOptions(),
    errors: settings.getErrors('version'),
    toggle: true,
}) }}

<div id="2" {{ settings.version == 3 ? 'class="hidden"' }}>

    {{ forms.selectizeField({
        label: "Size"|t('google-recaptcha'),
        instructions: "Select the size of the reCAPTCHA widget."|t('google-recaptcha'),
        id: 'size',
        name: 'size',
        required: true,
        value: settings.size,
        options: settings.getSizeOptions(),
        includeEnvVars: true,
        allowedEnvValues: settings.getSizeOptions()|keys,
        errors: settings.getErrors('size')
    }) }}

    {{ forms.selectizeField({
        label: "Theme"|t('google-recaptcha'),
        instructions: "Select the color theme of the reCAPTCHA widget."|t('google-recaptcha'),
        id: 'theme',
        name: 'theme',
        required: true,
        value: settings.theme,
        options: settings.getThemeOptions(),
        includeEnvVars: true,
        allowedEnvValues: settings.getThemeOptions()|keys,
        errors: settings.getErrors('theme')
    }) }}

    {{ forms.selectizeField({
        label: "Badge"|t('google-recaptcha'),
        instructions: "Select the position of the reCAPTCHA badge."|t('google-recaptcha'),
        id: 'badge',
        name: 'badge',
        required: true,
        value: settings.badge,
        options: settings.getBadgeOptions(),
        includeEnvVars: true,
        allowedEnvValues: settings.getBadgeOptions()|keys,
        errors: settings.getErrors('badge')
    }) }}

</div>

<div id="3" {{ settings.version == 2 ? 'class="hidden"' }}>

    {{ forms.autosuggestField({
        label: "Default Action"|t('google-recaptcha'),
        instructions: "Name of the reCAPTCHA action parameter."|t('google-recaptcha'),
        id: 'actionName',
        name: 'actionName',
        required: true,
        placeholder: 'homepage',
        value: settings.actionName,
        suggestEnvVars: true,
        errors: settings.getErrors('actionName')
    }) }}

    {{ forms.autosuggestField({
        label: "Default Score Threshold"|t('google-recaptcha'),
        instructions: "Minimum score between 0 and 1 to obtain in order for the end user to validate the reCAPTHCHA challenge. Leave blank for no score checking."|t('google-recaptcha'),
        id: 'scoreThreshold',
        name: 'scoreThreshold',
        value: settings.scoreThreshold,
        suggestEnvVars: true,
        errors: settings.getErrors('scoreThreshold')
    }) }}

    {{ forms.editableTableField({
        label: "Actions Settings"|t('google-recaptcha'),
        instructions: "Score threshold per action."|t('google-recaptcha'),
        id: 'actions',
        name: 'actions',
        addRowLabel: 'Add an action'|t('google-recaptcha'),
        cols: {
            name: {
                type: 'singleline',
                heading: "Action"|t('google-recaptcha'),
                info: "Name of the action. Only alphanumeric characters, slashes (/), and underscores (_)."|t('google-recaptcha'),
            },
            scoreThreshold: {
                type: 'number',
                heading: "Score Threshold"|t('google-recaptcha'),
                info: "Minimum score to obtain in order for the end user to validate the reCAPTHCHA challenge."|t('google-recaptcha'),
                placeholder: "Decimal value between 0 and 1"|t('google-recaptcha')
            }
        }|filter,
        rows: settings.actions,
        allowAdd: true,
        allowDelete: true,
        allowReorder: true,
        errors: settings.getErrors('actions')|unique
    }) }}

</div>

